/* -*- mode: javascript; tab-width: 8; indent-tabs-mode: nil; js-indent-level: 2 -*- */
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

body,
button,
select > option {
    font-size: 12px;
}

.error {
    color: red;
}

#edit,
#rearrange-snippets,
#import-export {
  display: none;
}

#new-snippet-content,
#snippets-list {
    display: block;
    margin-bottom: 8px;
}

#create-confirm,
#new-from-selection-confirm {
    visibility: hidden;
    color: darkgreen;
}

#snippets-list {
    width: 220px;
}

#manage-actions {
    float: right;
}

#manage-actions > button {
    display: block;
    margin-bottom: 8px;
}

#edit-snippet-name + label {
    margin-right: 16px;
}

#snippet-editor-content,
#snippets-sortable-list {
  margin-bottom: 16px;
}

#snippets-sortable-list {
    width:  100%;
    max-width: 22em;
    min-height: 220px;
    max-height: 220px;
    overflow-y: auto;
    border: 1px solid ThreeDShadow;
    background-color: #ddd;
}

#snippets-sortable-list > div {
    margin: 1px;
    padding: 3px 3px 3px 18px;
    border: 1px solid #bbb;
    background-color: #eee;
/*    background-image: url("chrome://clippings/skin/images/grippy.svg");*/
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 11.5px;
}

#snippets-sortable-list > div:hover {
    cursor: grab;
}

#snippets-sortable-list > div:active {
    background-color: #ccc;
    cursor: grabbing;
}

#snippets-sortable-list > .dnd-active {
    color: #fff;
    background-color: #bbb;
}

#import-export fieldset {
  margin-bottom: 8px;
}

#import-export > #import > #import-csv {
  display: block;
  margin-top: 8px;
  margin-bottom: 8px;
}

#import-export > #export {
  margin-bottom: 12px;
}

#import-export > #export > button {
  margin-top: 8px;
  margin-bottom: 8px;
}
