/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
    margin: 16px;
    overflow: hidden;
    font-size: 13px;
}

button,
select > option,
textarea {
    font-size: 12px;
}

button {
    min-width: 88px;
    height: 22px;
}

.confirm-msg {
    color: darkgreen;
}

.error-msg {
    color: red;
}

.dlg-buttons {
    position: absolute;
    right: 18px;
    bottom: 18px;
}

.dlg-buttons > button {
    margin-left: 8px;
}

#edit,
#rearrange-snippets,
#import-export {
  display: none;
}

#edit button,
#rearrange-snippets button,
#import-export button {
    min-width: 72px;
}

#create-confirm,
#import-error-no-file,
#import-error-invalid,
#import-success {
    display: none;
}

#main-window {
    display: block;
}

#main-window #new-snippet-content,
#main-window #snippets-list {
    display: block;
    width: 230px;
    margin-top: 4px;
    margin-bottom: 8px;
}

#main-window #snippets-list {
    height: 120px;
}

#main-window #create-actions,
#main-window #manage-actions {
    float: right;
    margin-top: 20px;
}

#main-window #create-actions > button,
#main-window #manage-actions > button {
    display: block;
    margin-bottom: 8px;
    min-width: 120px;
    text-align: left;
}

#main-window .dlg-buttons {
    position: unset;
    right: unset;
    bottom: unset;
    text-align: right;
}

#main-window .dlg-buttons > #insert-action {
    float: left;
    margin-left: 0;
    text-align: left;
}

#edit #snippet-editor {
    width: 360px;
    height: 290px;
}

#edit #editor-opts {
    float: left;
}

#edit > .dlg-buttons {
    position: unset;
    right: unset;
    bottom: unset;
    text-align: right;
}

#edit-snippet-name + label {
    margin-right: 16px;
    vertical-align: 2px;
}

#snippet-editor-content,
#snippets-sortable-list {
  margin-bottom: 16px;
}

#snippets-sortable-list {
    width:  100%;
    max-width: 366px;
    min-height: 290px;
    max-height: 290px;
    overflow-y: auto;
    border: 1px solid ThreeDShadow;
    background-color: #ddd;
}

#snippets-sortable-list > div {
    margin: 1px;
    padding: 3px 3px 3px 18px;
    border: 1px solid #bbb;
    background-color: #eee;
    background-image: url("../img/grippy.svg");
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 13px;
}

#snippets-sortable-list > div:hover {
    cursor: grab;
}

#snippets-sortable-list > div:active {
    background-color: #ccc;
    cursor: grabbing;
}

#snippets-sortable-list > .dnd-active {
    color: #fff;
    background-color: #bbb;
}

#import-export fieldset {
  margin-bottom: 8px;
}

#import-export > #import > #import-row > #import-csv {
  margin-top: 8px;
  margin-bottom: 8px;
  min-width: 108px;
}

#import-export > #export {
    margin-bottom: 12px;
}

#import-export > #export > #export-csv {
  min-width: 108px;
}

#import-export > #export > button {
  margin-top: 8px;
  margin-bottom: 8px;
}
